alias gs="git status"
alias gc="git commit"
alias ga="git add"
alias gd="git diff"
alias gaa="git add ."
alias gpl="git pull origin"
alias gps="git push origin"
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
