snippet blk "block comment" b
/*
|--------------------------------------------------------------------------
| ${1:comment}
|--------------------------------------------------------------------------
| $0
|
*/
endsnippet
